.modal {
  @apply fixed
  h-screen
  w-screen
  backdrop-blur-sm
  top-0
  left-0
  bg-black/[.8]
  z-20
  flex
  justify-center
  items-start
  p-2
  sm:p-4
  sm:items-center;
  &-card {
    @apply bg-slate-100
    p-2
    rounded-3xl
    overflow-hidden
    relative
    w-full
    sm:min-w-[470px]
    sm:w-auto
    sm:p-4;
    &-bg {
      @apply w-[576px]
      rounded-b-[50%]
      absolute
      left-1/2
      -translate-x-1/2
      top-0
      h-2/5;
    }
    &-header {
      @apply relative z-10;
      img {
        @apply ml-auto
        h-10
        cursor-pointer;
      }
    }
    &-content {
      @apply flex
      flex-col
      items-center
      relative
      z-10;
      img {
        @apply w-60
        object-contain
        sm:w-72;
      }
      h1 {
        @apply text-3xl
        capitalize
        font-montserrat-b
        sm:text-4xl;
      }
      &-types {
        @apply flex 
        gap-4 
        h-10
        mt-4;
        div {
          @apply px-4
          py-2
          rounded-md
          text-white
          capitalize
          flex gap-2;
          img {
            @apply w-6 h-6;
          }
        }
      }
      &-stats {
        @apply mt-4
        px-2
        w-full
        sm:px-4
        sm:mt-8;
        &-content {
          @apply flex
          flex-row
          gap-4
          items-center;
          &-name {
            @apply font-montserrat-s
            capitalize
            flex-1
            text-sm
            sm:text-base;
          }
          &-value {
            @apply font-montserrat-l w-9;
          }
          &-progress {
            @apply flex-[2]
            w-full
            bg-slate-200
            rounded-full
            flex
            items-center
            justify-start
            p-1
            box-content;
            div {
              @apply h-3
              rounded-full;
            }
          }
        }
      }
    }
    &-footer {
      @apply relative
      z-10
      flex
      flex-col
      mt-4
      text-center;
      hr {
        @apply mx-4;
      }
      &-items {
        @apply flex
        gap-5
        mb-2
        justify-center
        items-center
        flex-wrap;
        img {
          @apply h-[90px]
          sm:h-24;
        }
      }
    }
  }
}
